# server
server:
#  ssl:
#    key-store: classpath:keystore.p12
#    key-store-password: ztztzt11
#    key-store-type: PKCS12
#    key-alias: tomcat
  servlet:
    context-path: /benewake
  port: 8080


# spring
spring:





#  profiles:
#    active: default
#  mail:
#    default:
#      host: smtp.feishu.cn
#      username: your-username
#      password: your-password
#      port: 465
#      protocol: smtps
#      properties:
#        mail:
#          smtp:
#            ssl:
#              enable: true
#              required: false
#            debug: true
#    user1:
#      host: smtp.feishu.cn
#      username: zhaotong@benewake.com
#      password: 3efKhLdhl93LGjCb
#      port: 465
#      protocol: smtps
#      properties:
#        mail:
#          smtp:
#            ssl:
#              enable: true
#              required: false
#            debug: true
#    user2:
#      host: smtp.feishu.cn
#      username: wangxiaoxi@benewake.com
#      password: oqEPOBnLJhHA1qXO
#      port: 465
#      protocol: smtps
#      properties:
#        mail:
#          smtp:
#            ssl:
#              enable: true
#              required: false
#            debug: true











  mail:
    host: smtp.feishu.cn
    # 邮箱账号
    username: zhaotong@benewake.com
    # 授权码
    password: 3efKhLdhl93LGjCb
    port: 465
    protocol: smtps
    properties:
      mail:
        smtp:
          ssl:
            enable: true
            required: false
          debug: true

  application:
    name: SaleOrderSystem
#  rabbitmq:
#    host: 47.93.30.99
#    port: 5672
#    username: guest
#    password: guest
#    virtual-host: /
#    publisher-confirm-type: correlated
#    publisher-returns: true
#    listener:
#      simple:
#        acknowledge-mode: manual
#      template:
#        mandatory: true
  datasource:
    url: jdbc:mysql://localhost:3306/fim_aps_system?characterEncoding=utf-8&useSSL=false&serverTimezone=Hongkong&allowMultiQueries=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      maximum-pool-size: 15
      minimum-idle: 5
      idle-timeout: 30000



# mybatis-plus
mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
      id-type: auto
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 日志管理
logging:
  config: classpath:logback-spring.xml
  file:
    path: ./data/bxteam/benewake_log/
#    path: ./logs




